body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.banner{
    background-image: url('/assets/backgrounds/h_img.jpg');
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo{
    padding: 1rem;
}
h1{
    padding: 1rem;
    color: white;
    font-weight: 600;
    font-style: semi-bold;
}
h3{
    padding: 1rem;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    font-style: bold;
}
.mouse{
    margin-top: 5rem;
}
.about-container{
    text-align: center;
    padding: 2em;
}

.services-container{
    background-image: url('/assets/backgrounds/s_image.jpg');
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
}


.wwd-title{
    margin-top: 1.5em;
}
.wwd-container{
    text-align: center;
}
.wwd-contents{
    display: flex;
    justify-content: center;
    margin: 4%;
}
.wwd-size{
    width: 50vw;
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
    margin:0%  4%;
}

.image{
    position: absolute;
    margin-top: 6%;
    margin-left: -3%;
}
#product-im{
    margin-top: 5%;
}
.design-wwd-p{
    display: none;
    text-align: center;
}
.development-wwd-p{
    display: none;
    text-align: center;
}
.product-wwd-p{
    display: none;
    text-align: center;
}


.portfolio{
    margin: 0 6em;
    padding: 2em;
}
.portfolio-title{
    text-align: center;
}
.portfolio-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-auto-flow: row;
    overflow: hidden;
}
.portfolio-images{
    display: block;
    width: 100%;
    padding: 1em;
    padding-bottom: 1.5em;
    transition: transform .2s;
    position: relative;
}
.container {
    position: relative;
    width: 100%;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
  }  
  .container:hover .overlay {
    opacity: .7;
  }
.div-port{
    display: none;
    font-size: 20px;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


.form{
    background-image: url('/assets/backgrounds/c_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1em;
    color: white;
}
.form-title{
    text-align: center;
    color: white;
}
.form-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    overflow: hidden;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.col{
    margin-left: 5%;
    margin-right: 5%;
}
.text{
    margin-left: 1.8em;
    margin-right: 2em;
}
.form-control{
    border: 2px solid white;
    border-radius: 1%;
    background-color: transparent;
}
#textArea{
    border: 2px solid white;
    border-radius: 1%;
    width: 95%;
    height: 50vh;
    margin: 2rem;
    display: flex;
    justify-content: flex-start;
}
#btn{
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    width: max-content;
    margin-left: 89%;
}
::placeholder{
    color: white;
    opacity: 9;
}

.social-container{
    text-align: center;
    margin: 3%;
}
.social-p{
    text-align: center;
}